<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>模型管理</title>
    <meta http-equiv="cache-control" content="no-cache"/>
    <link rel="stylesheet" href="/lib/css/bootstrap.min.css"/>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <!--<link href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">-->
    <style>
        * {
            padding: 0;
            margin: 0;
        }
        .content {
            margin: 40px auto;
            padding: 0 40px;
        }
        .tab-content {

            padding: 5px;
            border: 1px solid #ddd;
            border-top: none;
            min-height: 200px;
        }
    </style>
    <script src="/lib/js/jquery-1.10.2.min.js"></script>
</head>
<body>
<div class="content">
    <div id="top" style="overflow: hidden;">
        <div  style="float:right;margin-right:20px;font-size: 16px;color:#666;">
            <i class="fa fa-user-o"></i>&nbsp;
            <span id="userId"></span>
            |<a href="/">注销</a>
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#model-tab" data-toggle="tab">模型管理</a></li>
        <li role="presentation"><a href="#deployment-tab" data-toggle="tab">部署管理</a></li>
        <li role="presentation"><a href="#process_instance-tab" data-toggle="tab">实例管理</a></li>
        <li role="presentation"><a href="#task-tab" data-toggle="tab">任务管理</a></li>

    </ul>
    <div class="tab-content">
        <div class="tab-pane fade active in" id="model-tab">
            <h2>模型管理</h2>
            <a href="javascript: AJAX.POST('/models/newModel')"
               class="btn btn-primary" style="margin-bottom: 10px;">新建流程</a>
            <table id="model-list" class="table table-bordered ">

                <script id="models" type="text/html">
                    <tr>
                        <td>模型编号</td>
                        <td>模型名称</td>
                        <td>版本</td>
                        <td>创建时间</td>
                        <td>操作</td>
                    </tr>
                    {{each rows.list}}
                    <tr>
                        <td>{{$value.id}}</td>
                        <td>{{$value.name}}</td>
                        <td>{{$value.version}}</td>
                        <td>{{$value.createTime}}</td>
                        <td>
                            <a href="/modeler.html?modelId={{$value.id}}">编辑</a>&nbsp;|
                            <a href="javascript: AJAX.DELETE('/models/{{$value.id}}')">删除</a>&nbsp;|
                            <a href="javascript: AJAX.POST('/models/{{$value.id}}/deployment')">发布</a>&nbsp;|
                            <a href="javascript: void(0);" onclick="modelList.downloadXML(event)" data-url="/service/model/{{$value.id}}/importXML">导出XML</a>
                        </td>
                    </tr>
                    {{/each}}

                </script>

                <tr>
                    <td>模型编号</td>
                    <td>模型名称</td>
                    <td>版本</td>
                    <td>创建时间</td>
                    <td>操作</td>
                </tr>




                <tr th:each="model:${models}">
                    <td th:text="${model.id}"></td>
                    <td th:text="${model.name}"></td>
                    <td th:text="${model.version}"></td>
                    <!--<td th:text="${model.createTime}"></td>-->
                    <td th:text="${#dates.format(model.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td>
                        <a th:href="|/modeler.html?modelId=${model.id}|">编辑</a>&nbsp;|
                        <a th:href="|javascript: AJAX.DELETE('/models/${model.id}');|">删除</a>&nbsp;|
                        <a th:href="|javascript: AJAX.POST('/models/${model.id}/deployment')|">发布</a>&nbsp;|
                        <a href="javascript: void(0);" onclick="modelList.downloadXML(event)"
                           th:attr="data-url=@{|/service/model/${model.id}/importXML|}" >导出XML</a>
                        <!--th:attr="data-url=/service/model/${model.id}/importXML" >导出XML</a>-->
                    </td>
                </tr>

            </table>
        </div>
        <div class="tab-pane fade" id="deployment-tab">
            <h2>部署列表</h2>

            <table id="deployment-list" class="table table-bordered">

                <script id="deployments" type="text/html">
                    <tr>
                        <td>编号</td>
                        <td>名称</td>
                        <td>部署时间</td>
                        <td>操作</td>
                    </tr>
                    {{each rows.list}}
                    <tr>
                        <td>{{$value.id}}</td>
                        <td>{{$value.name}}</td>
                        <td>{{$value.deploymentTime}}</td>
                        <td>
                            <!--<a href="javascript: AJAX.DELETE('/deployments/{{$value.id}}',null, delDeployment)">删除</a>&nbsp;|-->
                            <a href="javascript: void(0)" data-id="{{$value.id}}" onclick="modelList.delDeployment(event)">删除</a>&nbsp;|
                            <a href="/service/process/{{$value.id}}/startInstance" target="_blank">启动实例</a>
                        </td>
                    </tr>
                    {{/each}}
                </script>

            </table>
        </div>
        <div class="tab-pane fade" id="process_instance-tab">
            <h2>实例列表</h2>
            <table id="process_instance-list" class="table table-bordered">

                <script id="process_instances" type="text/html">
                    <tr>
                        <td>ID</td>
                        <td>流程定义名称</td>
                        <td>当前任务ID</td>
                    </tr>
                    {{each data}}
                    <tr>
                        <td>{{$value.id}}</td>
                        <td>{{$value.processDefinitionName}}</td>

                        <td>{{$value.currentActivityId}}</td>

                    </tr>
                    {{/each}}
                </script>
            </table>
        </div>

        <div class="tab-pane fade" id="task-tab">
            <h2>任务列表</h2>
            <table id="task-list" class="table table-bordered">

                <script id="tasks" type="text/html">
                    <tr>
                        <td>编号</td>
                        <td>名称</td>
                        <td>受理人</td>
                        <td>时间</td>
                        <td>操作</td>
                    </tr>
                    {{each data}}
                    <tr>
                        <td>{{$value.id}}</td>
                        <td>{{$value.name}}</td>
                        <td>{{$value.assignee}}</td>
                        <td>date</td>
                        <td>
                            <a href="/form/{{$value.id}}"  target="_blank" >进行任务</a>
                        </td>
                    </tr>
                    {{/each}}
                </script>
            </table>
        </div>
    </div>

</div>


<script src="/lib/js/bootstrap.min.js"></script>
<script src="/lib/js/template.js"></script>
<script src="/lib/js/jquery.cookie.js"></script>
<script src="/js/ajax-util.js"></script>
<script src="/js/model-list.js"></script>

</body>
</html>
